@{

}
<!-- footer area start -->
    <footer class="footer-area footer-area-1 pd-top-110" style="background-image: url('~/img/footer/bg.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_about">
                        <div class="thumb">
                            <img src="~/img/logo.png" alt="img">
                        </div>
                        <div class="details">
                            <p class="mb-3">
                                Centerl Park West La, New York <br>
                                +0 123 456 7890 <br>
                                info@andspa.com
                            </p>
                            <h5>Open Hours</h5>
                            <p><strong>Sunday to Friday <span class="color-base">08:00-20:00</span></strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_nav_menu ps-xl-5">
                        <h4 class="widget-title">Important Links</h4>
                        <ul>
                            <li><a href="creators.html">CURATION</a></li>
                            <li><a href="about.html">ABOUT US</a></li>
                            <li><a href="login.html">MY ACCOUNT</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                            <li><a href="checkout.html">SHIPPING & RETURNS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_subscribe">
                        <h4 class="widget-title">Subscribe</h4>
                        <p class="mb-3">Sedsit amet nisl inveli viverra bendum acnisi. Etiam efficitur.</p>
                        <form action="#">
                            <div class="single-input-inner">
                                <input type="text" placeholder="info@yourmail.com">
                            </div>
                            <div class="btn-box d-inline-block">
                                <button class="btn btn-main style-small">
                                    <span>
                                        <span>Subscribe</span>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget_instagram ps-xl-5">
                        <h4 class="widget-title">Instagram</h4>
                        <div class="widget widget_contact">
                            <ul>
                                <li>
                                    <img src="~/img/footer/1.png" alt="img">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <img src="~/img/footer/2.png" alt="img">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <img src="~/img/footer/3.png" alt="img">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <img src="~/img/footer/4.png" alt="img">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <img src="~/img/footer/5.png" alt="img">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <img src="~/img/footer/6.png" alt="img">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <p>© 2024 By dyat, All Rights Reserved</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <img src="~/img/footer/7.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
