@{
    ViewData["Title"] = "DYAT - eSports and Gaming NFT HTML Template";
}

<!-- page title start -->
<div class="banner-area bg-relative banner-area-1" style="background-image: url('/assets/img/banner/3.png');">
    <img class="chain-style" src="~/assets/img/banner/5.png" alt="img">
    <img class="chain-style right-to-left-move" src="~/assets/img/banner/5.png" alt="img">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content">
                    <h1 class="title move-line-3d">
                        <span class="light">
                            Unlesh the
                            <img class="line-img" src="~/assets/img/banner/4.png" alt="img">
                        </span>
                        <span class="font-large">
                            create <span class="color-base">nft’s</span>
                        </span>
                        <span class="light">Of</span>
                        <span class="color-base">art</span>
                    </h1>
                    <h4 class="sub-title split_chars">GENERAL INFORMATION</h4>
                    <div class="btn-box d-inline-block fade-slide bottom">
                        <a class="btn btn-main style-small" href="/About">
                            <span>
                                <span>Explore More</span>
                            </span>
                        </a>
                    </div>
                    <div class="list-img fade-slide bottom" data-delay="0.8">
                        <img src="~/assets/img/banner/1.png" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5">
                <div class="banner-img text-lg-end top_image_bounce">
                    <img src="~/assets/img/banner/2.png" alt="img">
                    <img class="shape-img  shapeBlinker_img" src="~/assets/img/banner/6.png" alt="img">
                    <img class="shape-img-2 spin_image" src="~/assets/img/banner-2/2.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- feature-area start -->
<div class="feature-area pd-top-120 pd-bottom-90">
    <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center">
            <h2 class="title move-line-3d">featured Item</h2>
            <a class="read-more-arrow-text d-flex align-items-center mt-md-0 mt-4" href="/Shop/Explore">
                Discover More
                <span><i class="fa fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="single-feature-inner fade-slide bottom" data-delay="0.2">
                    <h4 class="title d-flex justify-content-between align-items-center">
                        Lune Studio
                        <img src="~/assets/img/feature/1.png" alt="img">
                    </h4>
                    <div class="thumb text-center">
                        <img src="~/assets/img/feature/5.png" alt="img">
                    </div>
                    <div class="details d-flex justify-content-between align-items-center">
                        <div class="left">
                            <h5 class="d-block"><a href="/Creators/Details">Highest bid</a></h5>
                            <a href="/Creators/Details" class="bid">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                3.005 <span class="color-base">ETH</span>
                            </a>
                        </div>
                        <div class="right">
                            <a class="btn btn-base" href="/Creators/Details">BID <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single-feature-inner fade-slide bottom" data-delay="0.3">
                    <h4 class="title d-flex justify-content-between align-items-center">
                        Tune Studio
                        <img src="~/assets/img/feature/2.png" alt="img">
                    </h4>
                    <div class="thumb text-center">
                        <img src="~/assets/img/feature/6.png" alt="img">
                    </div>
                    <div class="details d-flex justify-content-between align-items-center">
                        <div class="left">
                            <h5 class="d-block"><a href="/Creators/Details">Highest bid</a></h5>
                            <a href="/Creators/Details" class="bid">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                3.005 <span class="color-base">ETH</span>
                            </a>
                        </div>
                        <div class="right">
                            <a class="btn btn-base" href="/Creators/Details">BID <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single-feature-inner fade-slide bottom" data-delay="0.4">
                    <h4 class="title d-flex justify-content-between align-items-center">
                        Bone Studio
                        <img src="~/assets/img/feature/3.png" alt="img">
                    </h4>
                    <div class="thumb text-center">
                        <img src="~/assets/img/feature/7.png" alt="img">
                    </div>
                    <div class="details d-flex justify-content-between align-items-center">
                        <div class="left">
                            <h5 class="d-block"><a href="/Creators/Details">Highest bid</a></h5>
                            <a href="/Creators/Details" class="bid">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                3.005 <span class="color-base">ETH</span>
                            </a>
                        </div>
                        <div class="right">
                            <a class="btn btn-base" href="/Creators/Details">BID <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="single-feature-inner fade-slide bottom" data-delay="0.5">
                    <h4 class="title d-flex justify-content-between align-items-center">
                        Doe Studio
                        <img src="~/assets/img/feature/4.png" alt="img">
                    </h4>
                    <div class="thumb text-center">
                        <img src="~/assets/img/feature/8.png" alt="img">
                    </div>
                    <div class="details d-flex justify-content-between align-items-center">
                        <div class="left">
                            <h5 class="d-block"><a href="/Creators/Details">Highest bid</a></h5>
                            <a href="/Creators/Details" class="bid">
                                <span class="icon"><i class="fa fa-link"></i></span>
                                3.005 <span class="color-base">ETH</span>
                            </a>
                        </div>
                        <div class="right">
                            <a class="btn btn-base" href="/Creators/Details">BID <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature-area end -->

<!-- Остальные секции главной страницы (top-seller-area, about-area и т.д.) -->
<!-- Добавьте остальные секции из вашего HTML файла аналогичным образом -->