@{
    ViewData["Title"] = "Home Page";
}
<!-- page title start -->
    <div class="banner-area bg-relative banner-area-1" style="background-image: url('img/banner/3.png');">
        <img class="chain-style" src="~/img/banner/5.png" alt="img">
        <img class="chain-style right-to-left-move" src="~/img/banner/5.png" alt="img">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner-content">
                        <h1 class="title move-line-3d">
                            <span class="light">
                                Unlesh the
                                <img class="line-img" src="~/img/banner/4.png" alt="img">
                            </span>
                            <span class="font-large">
                                create <span class="color-base">nft’s</span>
                            </span>
                            <span class="light">Of</span> 
                            <span class="color-base">art</span>
                        </h1>
                        <h4 class="sub-title split_chars">GENERAL INFORMATION</h4>
                        <div class="btn-box d-inline-block fade-slide bottom">
                            <a class="btn btn-main style-small" href="about.html">
                                <span>
                                    <span>Explore More</span>
                                </span>
                            </a>
                        </div>
                        <div class="list-img fade-slide bottom" data-delay="0.8">
                            <img src="~/img/banner/1.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-5">
                    <div class="banner-img text-lg-end top_image_bounce">
                        <img src="~/img/banner/2.png" alt="img">
                        <img class="shape-img  shapeBlinker_img" src="~/img/banner/6.png" alt="img">
                        <img class="shape-img-2 spin_image" src="~/img/banner-2/2.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- feature-area start -->
    <div class="feature-area pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="section-title d-md-flex justify-content-between align-items-center">
                <h2 class="title move-line-3d">featured Item</h2>
                <a class="read-more-arrow-text d-flex align-items-center mt-md-0 mt-4" href="explore-product.html">
                    Discover More
                    <span><i class="fa fa-arrow-right"></i></span>
                </a>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature-inner fade-slide bottom" data-delay="0.2">
                        <h4 class="title d-flex justify-content-between align-items-center">
                            Lune Studio
                            <img src="~/img/feature/1.png" alt="img">
                        </h4>
                        <div class="thumb text-center">
                            <img src="~/img/feature/5.png" alt="img">
                        </div>
                        <div class="details d-flex justify-content-between align-items-center">
                            <div class="left">
                                <h5 class="d-block"><a href="creator-details.html">Highest bid</a></h5>
                                <a href="creator-details.html" class="bid">
                                    <span class="icon"><i class="fa fa-link"></i></span>
                                    3.005 <span class="color-base">ETH</span>
                                </a>
                            </div> 
                            <div class="right">
                                <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature-inner fade-slide bottom" data-delay="0.3">
                        <h4 class="title d-flex justify-content-between align-items-center">
                            Tune Studio
                            <img src="~/img/feature/2.png" alt="img">
                        </h4>
                        <div class="thumb text-center">
                            <img src="~/img/feature/6.png" alt="img">
                        </div>
                        <div class="details d-flex justify-content-between align-items-center">
                            <div class="left">
                                <h5 class="d-block"><a href="creator-details.html">Highest bid</a></h5>
                                <a href="creator-details.html" class="bid">
                                    <span class="icon"><i class="fa fa-link"></i></span>
                                    3.005 <span class="color-base">ETH</span>
                                </a>
                            </div> 
                            <div class="right">
                                <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature-inner fade-slide bottom" data-delay="0.4">
                        <h4 class="title d-flex justify-content-between align-items-center">
                            Bone Studio
                            <img src="~/img/feature/3.png" alt="img">
                        </h4>
                        <div class="thumb text-center">
                            <img src="~/img/feature/7.png" alt="img">
                        </div>
                        <div class="details d-flex justify-content-between align-items-center">
                            <div class="left">
                                <h5 class="d-block"><a href="creator-details.html">Highest bid</a></h5>
                                <a href="creator-details.html" class="bid">
                                    <span class="icon"><i class="fa fa-link"></i></span>
                                    3.005 <span class="color-base">ETH</span>
                                </a>
                            </div> 
                            <div class="right">
                                <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single-feature-inner fade-slide bottom" data-delay="0.5">
                        <h4 class="title d-flex justify-content-between align-items-center">
                            Doe Studio
                            <img src="~/img/feature/4.png" alt="img">
                        </h4>
                        <div class="thumb text-center">
                            <img src="~/img/feature/8.png" alt="img">
                        </div>
                        <div class="details d-flex justify-content-between align-items-center">
                            <div class="left">
                                <h5 class="d-block"><a href="creator-details.html">Highest bid</a></h5>
                                <a href="creator-details.html" class="bid">
                                    <span class="icon"><i class="fa fa-link"></i></span>
                                    3.005 <span class="color-base">ETH</span>
                                </a>
                            </div> 
                            <div class="right">
                                <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feature-area end -->

    <!-- top-seller-area start -->
    <div class="top-seller-area pd-bottom-80">
        <div class="container">
            <div class="section-title d-md-flex justify-content-between align-items-center">
                <h2 class="title move-line-3d">Top Seller <span>In 1 Day</span></h2>
                <div class="array-button slider-control-round mt-md-0 mt-4">
                    <button class="array-next"><i class="fa fa-angle-left"></i></button>
                    <button class="array-prev"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <div class="swiper top-seller-slider fade-slide bottom">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="top-seller-inner" style="background-image: url('img/top-seller/bg.png');">
                            <div class="top-seller-item d-flex justify-content-between">
                                <div class="thumb">
                                    <img src="~/img/top-seller/1.png" alt="img">
                                </div>
                                <div class="content">
                                    <h5 class="tt-uppercase">first player</h5>
                                    <span class="color-base mb-2 d-block">Highest bid</span>
                                    <div class="author-img">
                                        <img src="~/img/top-seller/4.png" alt="img">
                                        <span>+56</span>
                                    </div>
                                </div>
                                <div class="button text-end">
                                    <span class="tag mb-2"><span>158</span></span>
                                    <span class="tag"><span>35K</span></span>
                                </div>
                            </div>
                            <h6 class="bottom-item"><span></span>powered by blockchain</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top-seller-inner" style="background-image: url('img/top-seller/bg.png');">
                            <div class="top-seller-item d-flex justify-content-between">
                                <div class="thumb">
                                    <img src="~/img/top-seller/2.png" alt="img">
                                </div>
                                <div class="content">
                                    <h5 class="tt-uppercase">Second player</h5>
                                    <span class="color-base mb-2 d-block">Highest bid</span>
                                    <div class="author-img">
                                        <img src="~/img/top-seller/4.png" alt="img">
                                        <span>+56</span>
                                    </div>
                                </div>
                                <div class="button text-end">
                                    <span class="tag mb-2"><span>158</span></span>
                                    <span class="tag"><span>35K</span></span>
                                </div>
                            </div>
                            <h6 class="bottom-item"><span></span>powered by blockchain</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="top-seller-inner" style="background-image: url('img/top-seller/bg.png');">
                            <div class="top-seller-item d-flex justify-content-between">
                                <div class="thumb">
                                    <img src="~/img/top-seller/3.png" alt="img">
                                </div>
                                <div class="content">
                                    <h5 class="tt-uppercase">Third player</h5>
                                    <span class="color-base mb-2 d-block">Highest bid</span>
                                    <div class="author-img">
                                        <img src="~/img/top-seller/4.png" alt="img">
                                        <span>+56</span>
                                    </div>
                                </div>
                                <div class="button text-end">
                                    <span class="tag mb-2"><span>158</span></span>
                                    <span class="tag"><span>35K</span></span>
                                </div>
                            </div>
                            <h6 class="bottom-item"><span></span>powered by blockchain</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top-seller-area end -->

    <!-- about area start -->
    <div class="about-area position-relative bg-cover pd-top-120 pd-bottom-70" style="background-image: url('img/about/bg.png');">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-10 pe-xl-5">
                    <div class="about-thumb-inner mb-4 fade-slide right" data-delay="0.2">
                        <img src="~/img/about/1.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-5 align-self-center">
                    <div class="about-content section-title mt-lg-5 mt-xl-0 mb-0">
                        <h2 class="title move-line-3d">Gaming Next Level</h2>
                        <h5 class="small-title split_chars">arctic warfare magnum {nft’s}</h5>
                        <p class="content fade-slide bottom" data-delay="0.3">Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell them game’s marketp just characters.</p>
                        <div class="small-title-2 fade-slide bottom" data-delay="0.5"><img src="~/img/about/2.png" alt="img"> |  Earn Great Rewards <span class="color-base">( Friend )</span></div>
                        <div class="btn-box d-inline-block fade-slide bottom" data-delay="0.7">
                            <a class="btn btn-main style-small" href="about.html">
                                <span>
                                    <span>Explore More</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-sm-6">
                    <div class="game-single-level text-center p-4 fade-slide bottom" data-delay="0.2">
                        <img src="~/img/about/3.png" alt="img">
                        <h4 class="tt-uppercase mt-3 mb-3">game & key saler</h4>
                        <p>Free yourself from complexities videos vital aspect.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="game-single-level text-center p-4 fade-slide bottom" data-delay="0.3">
                        <img src="~/img/about/4.png" alt="img">
                        <h4 class="tt-uppercase mt-3 mb-3">AD generation</h4>
                        <p>Free yourself from complexities videos vital aspect.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="game-single-level text-center p-4 fade-slide bottom" data-delay="0.4">
                        <img src="~/img/about/5.png" alt="img">
                        <h4 class="tt-uppercase mt-3 mb-3">game promotion</h4>
                        <p>Free yourself from complexities videos vital aspect.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="game-single-level text-center p-4 fade-slide bottom" data-delay="0.5">
                        <img src="~/img/about/6.png" alt="img">
                        <h4 class="tt-uppercase mt-3 mb-3">MOre Earning</h4>
                        <p>Free yourself from complexities videos vital aspect.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- top-auction-area start -->
    <div class="top-auction-area pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <h6 class="sub-title split_chars">top Auction</h6>
                        <h2 class="title move-line-3d">Limited Auction</h2>
                    </div>
                    <div class="col-lg-6 col-md-4 mt-md-0 mt-4">
                        <div class="array-button slider-control-round text-md-end">
                            <button class="array-next"><i class="fa fa-angle-left"></i></button>
                            <button class="array-prev"><i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper top-auction-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="single-feature-inner style-2">
                            <div class="thumb text-center p-0">
                                <img src="~/img/top-auction/1.png" alt="img">
                            </div>
                            <div class="details">
                                <h5 class="product-item__wishlist tt-uppercase d-flex justify-content-between align-items-center mb-3">
                                    <a href="creator-details.html">Lune Studio</a>
                                    <i class="fas fa-heart"></i>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="left">
                                        <h5 class="d-block">Highest bid</h5>
                                        <a href="creator-details.html" class="bid">
                                            <span class="icon"><i class="fa fa-link"></i></span>
                                            3.005 <span class="color-base">ETH</span>
                                        </a>
                                    </div> 
                                    <div class="right">
                                        <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="single-feature-inner style-2">
                            <div class="thumb text-center p-0">
                                <img src="~/img/top-auction/2.png" alt="img">
                            </div>
                            <div class="details">
                                <h5 class="product-item__wishlist tt-uppercase d-flex justify-content-between align-items-center mb-3">
                                    <a href="creator-details.html">Aune Studio</a>
                                    <i class="fas fa-heart"></i>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="left">
                                        <h5 class="d-block">Highest bid</h5>
                                        <a href="creator-details.html" class="bid">
                                            <span class="icon"><i class="fa fa-link"></i></span>
                                            3.005 <span class="color-base">ETH</span>
                                        </a>
                                    </div> 
                                    <div class="right">
                                        <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="single-feature-inner style-2">
                            <div class="thumb text-center p-0">
                                <img src="~/img/top-auction/3.png" alt="img">
                            </div>
                            <div class="details">
                                <h5 class="product-item__wishlist tt-uppercase d-flex justify-content-between align-items-center mb-3">
                                    <a href="creator-details.html">Quae Studio</a>
                                    <i class="fas fa-heart"></i>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="left">
                                        <h5 class="d-block">Highest bid</h5>
                                        <a href="creator-details.html" class="bid">
                                            <span class="icon"><i class="fa fa-link"></i></span>
                                            3.005 <span class="color-base">ETH</span>
                                        </a>
                                    </div> 
                                    <div class="right">
                                        <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="single-feature-inner style-2">
                            <div class="thumb text-center p-0">
                                <img src="~/img/top-auction/4.png" alt="img">
                            </div>
                            <div class="details">
                                <h5 class="product-item__wishlist tt-uppercase d-flex justify-content-between align-items-center mb-3">
                                    <a href="creator-details.html">Lune Studio</a>
                                    <i class="fas fa-heart"></i>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="left">
                                        <h5 class="d-block">Highest bid</h5>
                                        <a href="creator-details.html" class="bid">
                                            <span class="icon"><i class="fa fa-link"></i></span>
                                            3.005 <span class="color-base">ETH</span>
                                        </a>
                                    </div> 
                                    <div class="right">
                                        <a class="btn btn-base" href="creator-details.html">BID <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top-seller-area end -->

    <!-- block-chain-gallery-area start -->
    <div class="block-chain-gallery-area pd-bottom-120">
        <div class="container">
            <div class="section-title text-center">
                <h6 class="sub-title split_chars">Our Blockchain</h6>
                <h2 class="title move-line-3d">Powered by blockchain</h2>
            </div>
            <div class="swiper block-chain-gallery-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="block-chain-gallery-thumb" style="background-image: url('img/gallery/1.png');"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block-chain-gallery-thumb" style="background-image: url('img/gallery/2.png');"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block-chain-gallery-thumb" style="background-image: url('img/gallery/3.png');"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block-chain-gallery-thumb" style="background-image: url('img/gallery/4.png');"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block-chain-gallery-thumb" style="background-image: url('img/gallery/5.png');"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- block-chain-gallery-area end -->

    <!-- creator-area start -->
    <div class="creator-area pd-top-120 pd-bottom-90 bg-cover" style="background-image: url('img/creator/bg2.png');">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="sub-title split_chars">Our nft creator</h6>
                        <h2 class="title  move-line-3d">Top creator of week</h2>
                    </div>
                    <div class="col-lg-6 text-lg-end fade-slide bottom">
                        <div class="btn-box d-inline-block">
                            <a class="btn btn-main style-small" href="about.html">
                                <span>
                                    <span>Explore More</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 fade-slide bottom" data-delay="0.3">
                    <div class="single-creator-inner" style="background-image: url('img/creator/bg.png');">
                        <div class="top-list d-flex justify-content-between align-items-center">
                            <div class="author d-flex align-items-center">
                                <img class="me-2" src="~/img/creator/1.png" alt="img">
                                <div class="info">
                                    <h5 class="mb-0">Lune Studio</h5>
                                    <p class="mb-0"><span>Created by</span> Ninja Hunter</p>
                                </div>
                            </div>
                            <div class="wishlist product-item__wishlist">
                                <i class="fas fa-heart"></i>
                                89
                            </div>
                        </div> 
                        <div class="image-list">
                            <div class="row mx-1">
                                <div class="col-6 px-2">
                                    <img src="~/img/creator/4.png" alt="img">
                                </div>
                                <div class="col-6 px-2">
                                    <div class="row">
                                        <div class="col-6 px-2">
                                            <img src="~/img/creator/5.png" alt="img">
                                        </div>
                                        <div class="col-6 px-2">
                                            <img src="~/img/creator/6.png" alt="img">
                                        </div>
                                        <div class="col-12 px-2 mt-2 pt-2">
                                            <img src="~/img/creator/7.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 fade-slide bottom" data-delay="0.5">
                    <div class="single-creator-inner" style="background-image: url('img/creator/bg.png');">
                        <div class="top-list d-flex justify-content-between align-items-center">
                            <div class="author d-flex align-items-center">
                                <img class="me-2" src="~/img/creator/1.png" alt="img">
                                <div class="info">
                                    <h5 class="mb-0">Lune Studio</h5>
                                    <p class="mb-0"><span>Created by</span> Ninja Hunter</p>
                                </div>
                            </div>
                            <div class="wishlist product-item__wishlist">
                                <i class="fas fa-heart"></i>
                                89
                            </div>
                        </div> 
                        <div class="image-list">
                            <div class="row mx-1">
                                <div class="col-6 px-2">
                                    <img src="~/img/creator/8.png" alt="img">
                                </div>
                                <div class="col-6 px-2">
                                    <div class="row">
                                        <div class="col-6 px-2">
                                            <img src="~/img/creator/9.png" alt="img">
                                        </div>
                                        <div class="col-6 px-2">
                                            <img src="~/img/creator/10.png" alt="img">
                                        </div>
                                        <div class="col-12 px-2 mt-2 pt-2">
                                            <img src="~/img/creator/11.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 fade-slide bottom" data-delay="0.7">
                    <div class="single-creator-inner" style="background-image: url('img/creator/bg.png');">
                        <div class="top-list d-flex justify-content-between align-items-center">
                            <div class="author d-flex align-items-center">
                                <img class="me-2" src="~/img/creator/1.png" alt="img">
                                <div class="info">
                                    <h5 class="mb-0">Lune Studio</h5>
                                    <p class="mb-0"><span>Created by</span> Ninja Hunter</p>
                                </div>
                            </div>
                            <div class="wishlist product-item__wishlist">
                                <i class="fas fa-heart"></i>
                                89
                            </div>
                        </div> 
                        <div class="image-list">
                            <div class="row mx-1">
                                <div class="col-6 px-2">
                                    <img src="~/img/creator/4.png" alt="img">
                                </div>
                                <div class="col-6 px-2">
                                    <div class="row">
                                        <div class="col-6 px-2">
                                            <img src="~/img/creator/5.png" alt="img">
                                        </div>
                                        <div class="col-6 px-2">
                                            <img src="~/img/creator/6.png" alt="img">
                                        </div>
                                        <div class="col-12 px-2 mt-2 pt-2">
                                            <img src="~/img/creator/7.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- creator-area end -->

    <!-- testimonial-area start -->
    <div class="testimonial-area pd-top-120">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="sub-title split_chars">Our Testimonials</h6>
                        <h2 class="title move-line-3d">our client <span>feedback</span></h2>
                    </div>
                    <div class="col-lg-6 d-lg-block d-none">
                        <div class="array-button slider-control-round  text-lg-end">
                            <button class="array1-prev me-0"><i class="fa fa-angle-left"></i></button>
                            <button class="array1-next"><i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="feedback-inner">
                            <img src="~/img/testimonial/1.png" alt="img">
                            <p>Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-inner">
                            <img src="~/img/testimonial/1.png" alt="img">
                            <p>Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-inner">
                            <img src="~/img/testimonial/1.png" alt="img">
                            <p>Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-inner">
                            <img src="~/img/testimonial/1.png" alt="img">
                            <p>Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-inner">
                            <img src="~/img/testimonial/1.png" alt="img">
                            <p>Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-inner">
                            <img src="~/img/testimonial/1.png" alt="img">
                            <p>Building your own stuff, you can do that too. The ASSET CREATOR will allow creators to make things for the as well as sell.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper mySwiper feedback-list-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="feedback-list">
                            <img src="~/img/testimonial/2.png" alt="img">
                            <div class="details">
                                <h5>Alaxerder “</h5>
                                <span>Game CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-list">
                            <img src="~/img/testimonial/3.png" alt="img">
                            <div class="details">
                                <h5>Jemse lee “</h5>
                                <span>Game CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-list">
                            <img src="~/img/testimonial/4.png" alt="img">
                            <div class="details">
                                <h5>pall waker “</h5>
                                <span>Game CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-list">
                            <img src="~/img/testimonial/5.png" alt="img">
                            <div class="details">
                                <h5>Tonoy pro “</h5>
                                <span>Game CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-list">
                            <img src="~/img/testimonial/2.png" alt="img">
                            <div class="details">
                                <h5>Alaxerder “</h5>
                                <span>Game CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback-list">
                            <img src="~/img/testimonial/3.png" alt="img">
                            <div class="details">
                                <h5>Jemse lee “</h5>
                                <span>Game CEO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area end -->
    <!-- partner-area start -->
    <div class="partner-area-left pd-top-120">
        <div class="swiper partner-slider-left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/1.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/2.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/3.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/4.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/1.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/2.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/3.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partner-area-right mt-3">
        <div class="swiper partner-slider-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/1.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/2.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/3.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/4.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/1.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/2.png" alt="img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-inner">
                        <img src="~/img/partner/3.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partner-area end -->